<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">게시글 상세</title>
</head>
<body>
    <h1 th:text="${post.title}">제목</h1>

    <P><strong>작성자 : </strong><span th:text="${post.writer.name}"></span></P>
    <P><strong>작성일 : </strong><span th:text="${#temporals.format(post.createdAt,'yyy-MM-dd HH:mm')}"></span>
        <strong>수정일 : </strong><span th:text="${#temporals.format(post.updatedAt,'yyy-MM-dd HH:mm')}"></span></P>
    <hr/>
    <p th:text="${post.content}">내용</p>

    <!--작성자 본인일 때만 수정버튼 보이기-->
    <a th:if="${isOwner}" th:href="@{/posts/edit/{id}(id=${post.id})}">✏ 수정</a>

    <be/><br/>
    <a th:href="@{/posts}">← 목록으로</a>
</body>
</html>